:root {
    --vl-main-bg-color: #FFFFFF;
    --vl-gray-bg-color-one: #F5F6F5;
    --vl-gray-bg-color-one-hover: #E6E7E6;
    --vl-gray-bg-color-one-click: #D0D2D0;
    --vl-gray-border-one-color: #AEB2AF;
    --vl-blue-bg-color-one: #0D92FF;
    --vl-bg-orange-button-normal: #EF5200;
    --vl-bg-orange-button-hover: #CD3D03;
    --vl-bg-orange-button-click: #A2300A;
    --vl-bg-button-disabled: #E6E7E6;
    --vl-bg-hr: #E6E7E6;
    --vl-text-color-black: #000000;
    --vl-text-color-one: #0A243F;
    --vl-text-color-two: #252726;
    --vl-text-color-three: #454644;
    --vl-text-color-four: #696E6A;
    --vl-text-color-five: #3C3D3C;
    --vl-progress-color-1: #FFEB88;
    --vl-progress-color-2: #FFFCEB;
    --vl-yellow-1: #F9A907;
    --vl-yellow-2: #FF720A;
}
html {
    touch-action: pan-y; /* Разрешаем только вертикальную прокрутку */
    -webkit-text-size-adjust: 100%; /* Фикс для Safari */
    overscroll-behavior-y: contain; /* Блокируем "отскок" страницы */
}

body{
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    /*height: 100vh;*/
}
html, body {
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
}
a{
    color:unset;
    text-decoration-line: none;
}

.side-panel-content-container{
    background: var(--vl-main-bg-color);
}

.mobile-block,
.mobile-flex{
    display: none !important;
}
.desc-block{
    display: block !important;
}
.desc-flex{
    display: flex !important;
}
.scroll_bar_block{
    width: 100%;
    min-width: 100%;
    height: 100vh;
}
.main_container{
    width: 1280px;
    max-width: 1280px;
    padding: 16px;
    margin: 0 auto;
}
.main_sub_container{
    color: var(--vl-main-bg-color);
    padding: 40px 16px;
}
.container_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 80px;
    align-self: stretch;
}

/** Radio Button start */
input[type="radio"]{
    width: 20px;
    min-width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--vl-text-color-black);
    background: var(--vl-main-bg-color);
    transition: 200ms;
}

input[type='radio']:checked{
    border: 6px solid var(--vl-bg-orange-button-normal);
}
/** Radio Button end

/** Popup Window start */

#popup-sign_up{
    min-width: 320px;
    border-radius: 15px;
}

#popup-sign_up .popup-window-content{
    background: var(--vl-main-bg-color);
    padding: 20px 0 0;
}

#popup-sign_up .popup-window-buttons{
    padding: 0 0 10px;
}

#popup-sign_up .ui-ctl-datetime {
    max-width: calc(170px + var(--icon-width-before) + var(--icon-width-after));
    width: calc(170px + var(--icon-width-before) + var(--icon-width-after));
}

#popup-sign_up .popup_content_block_landing{
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
}

#popup-sign_up .popup_content_block_landing > .popup_content_block_landing-tittle{
    font-weight: 600;
    font-size: 18px;
}

#popup-sign_up .popup_content_block_landing > .popup_content_block_landing-form > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#popup-sign_up .popup-window-close-icon::after{
    width: 15px;
    height: 15px;
}

#popup-sign_up .popup-window{
    padding: 15px;
}

#popup-sign_up .popup-window-close-icon{
    right: 10px;
    top: 10px;
}

/** Popup Window end */

/** Scroll CSS START */

html.has-scroll-smooth {
    overflow: hidden; }

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.has-scroll-smooth body {
    overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; }
.c-scrollbar:hover {
    transform: scaleX(1.45); }
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3); }

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}

.digit-t-left,
.digit-t-right,
.digit-t-down{
    opacity: 0;
    -webkit-transform: translateX(-140px);
    -moz-transform: translateX(-140px);
    -ms-transform: translateX(-140px);
    -o-transform: translateX(-140px);
    transform: translateX(-140px);
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.digit-t-down{
    -webkit-transform: translateY(140px);
    -moz-transform: translateY(140px);
    -ms-transform: translateY(140px);
    -o-transform: translateY(140px);
    transform: translateY(140px);
}

.digit-t-right {
    -webkit-transform: translateX(140px);
    -moz-transform: translateX(140px);
    -ms-transform: translateX(140px);
    -o-transform: translateX(140px);
    transform: translateX(140px);
}

.digit-t-left.visible,
.digit-t-right.visible,
.digit-t-down.visible{
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/** Scroll CSS END*/

@media (max-width: 1280px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }
    .side-panel.side-panel-container{
        width: 100% !important;
        /*max-width: unset !important;*/
    }
    .main_container{
        /*width: 390px;*/
        width: 100%;
        max-width: 920px;
        padding: 0;
    }
    .container_content{
        gap: 0;
        overflow: hidden;
    }
    .desc-block,
    .desc-flex{
        display: none !important;
    }
    .mobile-block{
        display: block !important;
    }
    .mobile-flex{
        display: flex !important;
    }
}