.rv-footer-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 100%;
}

.rv-footer-block > .rv-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
    background: var(--vl-text-color-one);
    border-radius: 16px;
    box-sizing: border-box;
    width: inherit;
}
.rv-footer-block > .rv-footer > .rv-sub-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 16px;
    width: 100%;
}

.rv-footer-block > .rv-footer > .rv-sub-footer > .rv-sub-footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    gap: 34px;
    width: inherit;
}

.rv-footer-block > .rv-footer > .rv-sub-footer > .rv-sub-footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    width: 32px;
}

.rv-footer-block > .rv-footer > .rv-sub-footer > .rv-sub-footer-right > .rv-sub-footer-right_social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
}

.rv-footer-block > .rv-footer > .rv-sub-footer > .rv-sub-footer-right > .rv-sub-footer-right_social > div{
    width: 32px;
    height: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.rv-footer-block > .rv-footer > .rv-sub-footer > .rv-sub-footer-left > .rv-sub-footer-left-contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;
    margin: 0;
}

.rv-footer-block > .rv-footer > .rv-sub-footer > .rv-sub-footer-left > .rv-sub-footer-left-contacts > span{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color: var(--vl-main-bg-color);
}

.rv-footer-block > .rv-footer > .rv-sub-footer > .rv-sub-footer-left > .rv-sub-footer-left-contacts > span:nth-child(2n){
    text-decoration-line: none;
}

.rv-footer-block > .rv-footer-copyright{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--vl-text-color-one);
    width: 100%;
    justify-content: center;
}
